@charset "UTF-8";

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: blanchedalmond;
}

main{
    background-color: white;
    padding: 24px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.082);
    border-radius: 20px;
    width: 600px;
    margin: auto;
}

h1{
    /* shorthand font-
    font-style - > font-weight -> font-size -> font-family */

    color: darkcyan;
   font: italic bold 32px 'Segoe UI';
    text-align: center;
}

h1#secundario {
    color: rgb(8, 88, 88);
    font: italic bold 32px 'Segoe UI';
    text-align: center;
}

h2{
    color: rgb(34, 141, 91);
    font-style: italic;
}

p{
    text-align: justify;
    text-indent: 30px;
    letter-spacing: 0.5px;
}